{{!-- Barra de navegacion superior --}}
<div class="topnav" id="myTopnav">

  {{#link-to 'index'}} Inicio {{/link-to}}
  {{#link-to 'convocatories'}} Convocatorias {{/link-to}}

  {{!-- <div class="account"> --}}
    {{#if session.isAuthenticated}}
      {{#link-to 'login'}} Salir {{/link-to}}
    {{else}}
      {{#link-to 'register'}} Regístrate {{/link-to}}
      {{#link-to 'login'}} Entrar {{/link-to}}
    {{/if}}
  {{!-- </div> --}}

  {{!-- boton opcional que cambia el tipo de barra si la pantalla es muy pequeña --}}
  <a href="javascript:void(0);" class="icon" {{action 'responsive'}}>&#9776;</a>

</div>

{{yield}}
