<header class="header">
	<meta charset="utf-8">
	<title>LinkedUN</title>
	<img class="logo" src="/assets/logo_unal.png" width="278.1px" height="118.2px" alt="Logo Universidad Nacional de Colombia">
	<h1>LinkedUN</h1>
</header>

{{yield}}
