.header{
	text-align: center;
	background-color: #9AFF81; /*rgba(0, 197, 218, 0.4);*/
	margin: 1em;
	padding: 0.05em;
	border-radius: 1em;
	font-size: 30px;
	color: #F5FFFA;
}

.body{
	text-align: center;
	font-family: Arial;
	font-size: 25px;
}

h1{
  /* font-family: sans-serif; */
  margin: 1em;
  background-color: #9AFF81;
}

.register{
  font-family: arial;
  margin: 4em;
}

.grid{
	margin: 2em;
	display: grid;
	grid-template-columns: 1fr 3fr 1.5fr;
	grid-template-rows: 200px;
	font-family: Arial;
	font-size: 20px;
	background-color: #e9f7e9;
	border-radius: 1em;
}

.leftpanel{
	text-align: center;
}

.centerpanel{
	text-align: center;
}

.rightpanel{
	text-align: center;
}
