
<header class="header">
	<meta charset="utf-8">
	<title>LinkedUN</title>
	<h1>LinkedUN</h1>
</header>

<footer class="footer">
	<p>
		Diseño y Construcción de Productos de Software
		<br>
		Santiago Arbelaez
		<br>
		Carlos Oliva
		<br>
		Pacho
		<br>
		Juan Esteban
	</p>
</footer>

{{outlet}}

