<div class="row" type="row">
	<a class="LoginButton" href="register">Registrarme</a>
	<a class="LoginButton" 	href="login" >Login</a>
</div>

<br>
<div class="grid" inline-grid display> <!-- contenedor -->
  <div class="leftpanel">Menú <br>
  	{{link-to "Inicio" "index"}}
  </div> <!-- cada uno de los ítems del grid -->

  <div class="centerpanel">¿Qué es LinkedUN?
		<p>LinkedUN es la plataforma para publicar, registrar y participar en convocatorias de monitorías de la Universidad Nacional de Colombia sede Medellín</p>
  </div>
	{{!-- <div class="rightpanel">Convocatorias Activas <br>
		{{#each model.convocatorias as |convocatorias|}}
	    <li>{{convocatorias.name}}</li>
		{{/each}}
  </div> --}}
</div>

<footer class="footer">
	<div class="gridfooter" inline-grid display> <!-- contenedor -->
	  <div class="leftgrid">
		<p>Santiago Arbelaez Cataño <br>
		José Francisco Miguel Díaz Díaz</p>
	  </div>
	  <div class="centergrid">
		<p>Diseño y Construcción de Productos de Software<br>
		2018-01
		</p>
	  </div>
	  <div class="rightgrid">
		<p>Juan Esteban López López <br>
		Carlos Armando Oliva Paredes</p>
	  </div>
	</div>
</footer>

{{outlet}}
