<header class="header">
	<meta charset="utf-8">
	<title>LinkedUN</title>
	<h1>LinkedUN</h1>
</header>

	<div class="grid" inline-grid display> <!-- contenedor -->
	  <div class="leftpanel">IMAGEN
			
	  </div> <!-- cada uno de los ítems del grid -->
	  <div class="centerpanel">¿Qué es LinkedUN?
			<p>LinkedUN es la plataforma para publicar, registrar y participar en convocatorias para monitorías de la Universidad Nacional de Colombia sede Medellin</p>		
	  </div>
	  <div class="rightpanel">Convocatorias Activas
			
	  </div>
	</div>



{{outlet}}

<footer class="footer">
	Diseño y Construcción de Productos de Software
</footer>