<div class="about">
	¿Qué es LinkedUN?
	<p>LinkedUN es la plataforma para publicar, registrar y participar en convocatorias de monitorías de la Universidad Nacional de Colombia sede Medellín</p>
</div>

<footer class="footer">
	<div class="gridfooter" inline-grid display> <!-- contenedor -->
	  <div class="leftgrid">
		<p>Santiago Arbelaez Cataño <br>
		José Francisco Miguel Díaz Díaz</p>
	  </div>
	  <div class="centergrid">
		<p>Diseño y Construcción de Productos de Software<br>
		2018-01
		</p>
	  </div>
	  <div class="rightgrid">
		<p>Juan Esteban López López <br>
		Carlos Armando Oliva Paredes</p>
	  </div>
	</div>
</footer>

{{outlet}}
