<div class="login">
  <h1 class="title">
    Inicia Sesión
  </h1>
  <p>
    Correo institucional:
    {{input type="text" value=email}} @unal.edu.co
  </p>

  <p>
    Contraseña:
    {{input type="password" id='password' value=password}}
  </p>
  <p>
    <button class='customButton' type="button" {{action 'signIn' email password}}>
      Aceptar
    </button>
  </p>
</div>

{{outlet}}
